
<h1 class="title">Location guesser</h1>
<link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static',filename='game.css') }}"> <!-- connects to styles.css --> <!-- connects to styles.css --> 
<div style="margin: 350 auto; width: 300px;"> 

<form>
    <button class="button" type="submit"><a href="/solo">Solo Ranked </a></button>  <br> </br>
     <br> </br>
</form>

<form method="POST"> <!-- sends data through a Post request -->

    <br>  
    <label for="Region"></label>
    <button class="button" type="submit"> Solo Regional </button> 
    <select name="Region" id="Region">
      <option value="Worldwide"> Worldwide</option>
      <option value="Ireland_AND_UK"> Ireland and UK</option>
      <option value="Central_Africa">Central Africa</option>
      <option value="North_Africa">North Africa </option>
      <option value="Europe">Europe </option>
      <option value="North_Asia"> North Asia</option>
      <option value="Central_Asia">Central Asia</option>
      <option value="SouthEast_Asia">Southeast Asia </option>
      <option value="North_America"> North America </option>
      <option value="South_America"> South America</option>
    </select>
    <br><br>
     <!-- Creates selection box with several options -->
  </form>  
</div>
 <button class="button" id="BackButton"> <a href="/home">Back</a></button> </div>
